.content {
  display: flex;
  gap: 50px;
}

.list {
  display: flex;
  gap: 50px;
  width: 800px;
  flex-wrap: wrap;
}

.list img {
  width: 100px;
  height: 150px;
}

table {
  border-collapse: collapse;
}

table,th,td,th {
  border: 1px solid gray;
}

th,td{
  padding: 5px 15px;
}

.actionBtn {
  border: 1px solid gray;
  padding: 4px 8px;
  margin-left: 5px;
}